@charset "utf-8";
/* CSS Document */


/* Universal */
body { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; }
h1 { font-size: 90px; font-weight: 700; }
.projectPage h1 { font-size: 70px; font-weight: 700; }
h2 { font-size: 28px; font-weight: 700; margin: 60px 0 0 0; }
p { font-size: 20px; font-weight: 400; line-height: 32px; }
.content {margin: auto; text-align: center; max-width: 960px; margin-top: 2rem; margin-bottom: 2rem;}
.content a {text-decoration: none; color: black;}

.content-link {text-decoration: none; color: #000000; margin: 20px;}
.content-link:hover { padding: 0 0 5px 0; border-bottom: 3px solid #00a2c5; }

/* Header section */
.header { position: relative; width: 100%; z-index: 1000; }
a.logo { font-size: 26px; font-weight: 700; position: absolute; left: 40px; top: 40px; text-decoration: none; color: #ffffff; }
ul.nav { font-size: 16px; font-weight: 400; list-style-type:none; padding:0; position: absolute; right: 40px; top: 32px; }
ul.nav li { display: inline; padding: 0 0 0 15px; }
ul.nav li a { text-decoration: none; color: #ffffff; }
ul.nav li a:hover { padding: 0 0 5px 0; border-bottom: 3px solid #00a2c5; }


/* Top section */
.top { text-align: center; width: 100%; height: 682px; position: relative; }
.topText { position: absolute; width:960px; left:50%; margin: -32px 0 0 -480px; top: 50%; transform: translate(0, -50%); }
.topText h1 { margin: 0; color: #ffffff; }
.topText p { color: #ffffff; }
.line { width: 86px; height: 13px; display: block; margin: 10px auto 20px auto; } 
.line2 { width: 86px; display: block; margin: 0 0 30px 0; } 

/* CV */
.cv-container {border: 1px solid #000000; padding: 0; margin: 20px;}

/* Work */
ul.workItems { list-style-type:none; padding:0; margin: 60px auto 100px auto; width: 960px; }
ul.workItems li { width: 48%; height: 520px; background-color: #000000; float: left; margin: 1%; position: relative;  }
ul.workItems li a { width: 100%; height: 100%; display: block; }
ul.workItems li span { color: #ffffff; position: absolute; bottom: 30px; left: 30px; font-size:20px; }

/* Project work */
.projectBottom { background-color: #eeeeee; } 
ul.projectWorkItems { list-style-type:none; padding:100px 0; margin: 0 auto; width: 960px; }
ul.projectWorkItems li { width: 31.33%; height: 320px; background-color: #000000; float: left; margin: 1%; position: relative;  }
ul.projectWorkItems li a { width: 100%; height: 100%; display: block; }
ul.projectWorkItems li span { color: #ffffff; position: absolute; bottom: 30px; left: 30px; font-size:20px; }


/* Project content */
.projectContent { width: 960px; margin: 0 auto 100px auto;  margin-bottom: 0;}
.projectContent h2 { text-align: left; }
.projectContent p {text-align: left;}
.projectContent li {text-align: left;}
.projectContent img { width: 100%; margin: 30px 0 0 0; }
.projectContent iFrame { width: 100%; margin: 30px 0 0 0; }


/* Footer */
#contact { width: 100%; margin: 0 auto; padding:50px 0 80px 0;  text-align: center; border-top: 1px solid #cccccc; }
#contact a { text-decoration: none; color:#222222; padding: 0 10px; }
#contact i { padding: 0 6px 0 0; color:#04A2C5; }

/* Page colours */
.homeBackground { background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("./images/homebackground.jpeg") no-repeat center; background-size: cover; background-color: #0e1e2b; }
.project1Background { background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("./images/project1Background.jpg") no-repeat center; background-size: cover; background-color: #15354c; } 
.cvBackground { background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("./images/cvBackground.jpg") no-repeat top; background-size: cover; background-color: #15354c; } 


/* Work images */
.project1 {  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url("./images/project1.jpg") no-repeat center; background-size: 170%; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.project1:hover {  opacity: 0.8; background-size: 180%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; background-color:#f7710f;}

.project2 {  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ) , url("./images/project2.jpeg") no-repeat center ; background-size: 170%; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.project2:hover {  opacity: 0.8; background-size: 180%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; background-color:#f7710f;}

.project3 {  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url("./images/project3.jpg") no-repeat center; background-size: 170%; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.project3:hover {  opacity: 0.8; background-size: 180%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; background-color:#f7710f;}

.project4 {  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url("./images/project4.jpg") no-repeat center; background-size: 200%; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.project4:hover {  opacity: 0.8; background-size: 210%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; background-color:#f7710f;}


/* Scroll icon */
.scroll-downs { position: absolute; right: 0; bottom: 50px; left: 0; margin: auto; width :34px; height: 55px; }
.mousey { width: 3px; padding: 10px 12px; height: 27px; border: 2px solid #fff; border-radius: 25px; opacity: 0.75; box-sizing: content-box; }
.scroller { width: 3px; height: 10px; border-radius: 25%; background-color: #fff; animation-name: scroll; animation-duration: 2.2s; animation-timing-function: cubic-bezier(.15,.41,.69,.94); animation-iteration-count: infinite; }
@keyframes scroll { 0% { opacity: 0; } 10% { transform: translateY(0); opacity: 1; } 100% { transform: translateY(15px); opacity: 0;} }




@media screen and (max-width: 1000px) {
h1 { font-size: 50px; }
.projectPage h1 { font-size: 50px; }
h2 { font-size: 20px; margin: 40px 0 0 0; }
p { font-size: 16px; line-height: 26px; }
.topText { width: 90%; margin: 0 0 0 5%; position: static; transform: none; padding: 114px 0 80px 0; }
.top { height: auto; }
.scroll-downs { display: none; }
a.logo { left: 20px; top: 20px; font-size: 18px; } 
ul.nav { top: 6px; right: 20px; }
ul.nav li { padding: 0 0 0 10px; }
ul.workItems { width:90%; margin: 40px 0 60px 5%; }
ul.workItems li { height:400px; }
ul.projectWorkItems { width: 90%; padding: 50px 0; }
ul.projectWorkItems li { width: 100%; height: 320px;  }
.projectContent { width:90%; margin: 40px 0 60px 5%; }
.projectContent img { margin: 20px 0 0 0; } 


}	

@media screen and (max-width: 780px) {
.cv-container {display: none;}
.topText h1 {font-size: 2.8rem;}
ul.workItems li { width: 100%; } 
#contact { padding: 40px 0 60px 0; }
#contact a { width: 100%; display: block; padding: 5px 0; }
.project1 {  background-size: 220%; }
.project2 {  background-size: 220%; }
.project3 {  background-size: 220%; }
.project4 {  background-size: 250%; }
.project5 {  background-size: 130%; }
.project6 {  background-size: 130%; }
ul.nav li a:hover { border-bottom: none; }



    